{
    "BOT_API_CLIENT_ID": {
        "value": "https://1rti.secretservercloud.com/app/#/secrets/3780/general",
        "type": "SecureString"
    },
    "BOT_API_CLIENT_SECRET": {
        "value": "https://1rti.secretservercloud.com/app/#/secrets/3781/general",
        "type": "SecureString"
    },
}
