cmake_minimum_required(VERSION {{ cmake_version }})
project ( {{ workspace_name }} )
set(CMAKE_MODULE_PATH
    ${CMAKE_MODULE_PATH}
    "{{ connext_path }}/resource/cmake")

find_package(RTIConnextDDS EXACT "{{ connext_version }}" REQUIRED)

set(SOURCES_PUB
    {{ sources_pub }}
)

add_executable({{ idl_file_name }}_publisher ${SOURCES_PUB})
target_link_libraries({{ idl_file_name }}_publisher
    PUBLIC
        {{ connext_libs }}
)

set(SOURCES_SUB
    {{ sources_sub }}
)

add_executable({{ idl_file_name }}_subscriber ${SOURCES_SUB})
target_link_libraries({{ idl_file_name }}_subscriber
    PUBLIC
        {{ connext_libs }}
)
